@import 'src/mixins';

.vw__zip-input {
  display: inline-flex;
  align-items: center;

  input {
    @include input;

    background: none;
    border-radius: 5px;
    border: 1px solid $color-blue1;
    width: 120px;
    padding: 0 10px;
    line-height: 32px;
    height: 32px;

    &:focus {
      border: 2px solid $color-blue1;
      outline: 0;
    }
  }
  .vw__icon {
    padding: 0 8px;
    margin-left: -34px;

    svg {
      width: 18px;
      height: 18px;
      fill: $color-blue1;
    }
  }
}
