@import 'src/mixins';

.vw__results-toolbar {
  display: none;

  @include bp(tablet) {
    padding: 30px 0;
    display: block;
  }

  .vw__filter-button-container {
    @include bp(xl) {
      display: none;
    }
  }

  .grid-container {
    align-items: center;

    @include bp(wide) {
      display: flex;
      margin: 0 (-map_get($gutters, wide)/2);
    }

    @include bp(xl) {
      margin: 0 (-map_get($gutters, xl)/2);
    }

    .filter-area {
      padding: 0 ($gutter/2);
      width: (5 / 12) * 100%;

      @include bp(desktop) {
        width: 25%;

        @include bp(wide) {
          padding: 0 (map_get($gutters, wide)/2 + 10px);
        }

        @include bp(wide) {
          padding: 0 (map_get($gutters, xl)/2 + 10px);
        }
      }
    }

    .results-area {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;

      @include bp(wide) {
        padding: 0 (map_get($gutters, wide)/2);
      }

      @include bp(wide) {
        padding: 0 (map_get($gutters, xl)/2);
      }

      .filter-list-area {
        flex: 1;
      }
    }
  }

  .vw__filter-button {
    @include bp(wide) {
      display: none;
    }
  }
}
