@import 'src/mixins';

.vw__results-toolbar {
  display: none;

  @include bp(tablet) {
    padding: 30px 0;
    display: block;
  }

  .vw__filter-button-container {
    @include bp(xl) {
      display: none;
    }
  }

  .grid-container {
    margin: 0 (-$gutter/2);
    align-items: center;

    .filter-area {
      padding: 0 ($gutter/2);
      width: (5 / 12) * 100%;

      @include bp(desktop) {
        width: 25%;
      }
    }

    .results-area {
      padding: 0 ($gutter/2);
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;

      .filter-list-area {
        flex: 1;
      }
    }
  }

  .vw__filter-button {
    @include bp(wide) {
      display: none;
    }
  }
}
