@import 'src/mixins';

.vw__filter-section {
  header {
    cursor: pointer;
  }

  .grid-container {
    justify-content: space-between;
  }

  label {
    display: block;
  }

  .filtered-choices {
    padding-right: 10px;

    @include bp(desktop) {
      // display: none;
    }
  }

  .filter-actions {
    display: flex;

  }
}
