@import 'src/mixins';

.vw__filter-section {
  padding-bottom: 4px;

  .filter-accordion {
    user-select: none;
    border: 0;
    border-bottom: 2px solid $color-bluegray95;
    cursor: pointer;
    background: white;
    height: 72px;
    width: 100%;
    padding: 0 28px;

    @include bp(wide) {
      border-bottom: 2px solid $color-bluegray90;
      background: none;
      height: 68px;
      padding: 0 32px;

      &:hover {
        background: rgba(white, 0.5);
      }
    }

    .vw__icon {
      svg .svg {
        stroke: $color-blue1;
      }
    }

    &.is-open {
      border-top: 2px solid $color-blue1;

      @include bp(wide) {
        border-top: 0;
        height: 54px;
      }
    }
  }

  &:first-child {
    .filter-accordion {
      border-top: 2px solid black;

      @include bp(wide) {
        border-top: 2px solid $color-bluegray90;
      }
    }
  }

  .grid-container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .filtered-choices {
    @include label-3;

    padding-right: 10px;
    color: $color-bluegray55;

    @include bp(wide) {
      display: none;
    }
  }

  .filter-actions {
    display: flex;

    .vw__icon svg {
      width: 16px;
      height: 16px;
    }
  }

  .filter-name {
    text-transform: uppercase;
    color: $color-blue1;
  }

  .filter-subname {
    text-transform: uppercase;
    color: $color-blue1;
  }

  .section-content {
    background: rgba($color-bluegray95, 0.5);

    &.has-swatch {
      @include bp(wide) {
        display: flex;
        flex-wrap: wrap;
        padding: 0 32px;
      }
    }
  }
}
