@import 'src/mixins';

.vw__results-container {
  background: $color-bluegray95;
}

.vw__car-results-container {
  padding: 20px 0;

  @include bp(tablet) {
    padding-top: 0;
  }

  @include bp(wide) {
    display: flex;
    margin: 0 (-$gutter/2);
  }

  > .grid-item {
    @include bp(wide) {
      padding: 0 ($gutter/2);
    }
  }

  .side-container {
    @include bp(wide) {
      width: 25%;
    }
  }

  .results-container {
    @include bp(wide) {
      width: 75%;
    }
  }
}
