// SF Pro Display-Semibold
// SF Pro Text-Medium
// VW Head-Bold
// VW Head-ExtraBold
// VW Head-Light
// VW Head-Regular
// VW Head-Regular Italic
// VW Text-Bold
// VW Text-Regular

$blue1: #00b1eb;
$blue2: #009dd8;
$blue3: #2274ac;
$bluegray50: #011a2c;
$bluegray55: #7c878e;
$bluegray70: #9eaab0;
$bluegray80: #c0cacc;
$bluegray90: #e3ebed;
$bluegray95: #f1f5f6;
$gray90: #e5e7e8;
$gray20: #2c2d32;
$gray10: #1d1e1f;

$bp: (
  tablet: 768px,
  desktop: 1024px,
  wide: 1280px,
  xl: 1440px
);

$container-width: (
  mobile: 86.13%,
  tablet: 89.88%,
  desktop: 87.5%,
  wide: 88.17%,
  xl: 86.3%
);

$gutters: (
  mobile: 14px,
  tablet: 20px,
  desktop: 28px,
  wide: 36px,
  xl: 40px
);

$gutter: 3.5vw;

// $gutters: (
//   mobile: 86.13% / 24,
//   tablet: 89.88% / 24,
//   desktop: 87.5% / 24,
//   wide: 88.17% / 24,
//   xl: 86.3% / 24
// );

@mixin bp($device) {
  @media (min-width: map-get($bp, $device)) {
    @content
  }
}

@mixin bpm($device) {
  @if $device == mobile {
    @media (max-width: map-get($bp, tablet) - 1) {
      @content;
    }
  }

  @if $device == desktop {
    @media (max-width: map-get($bp, desktop) - 1) {
      @content;
    }
  }
}

@mixin flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-3.5/2) * 1vw;

  .flex-item {
    padding: 0 (3.5/2) * 1vw;
    width: 50%;

    @include bp(tablet) {
      width: (100% / 3);
    }

    @include bp(wide) {
      width: 25%;
    }

    img {
      max-width: 100%;
    }
  }
}