@import './card';

.vw__card-grid {
  background: white;
  position: relative;
  border: 1px solid;
  margin: 10px;
  flex: 0 0 31%;

  .content {
    padding: 24px;

    @include bp(tablet) {
      padding: .75 * $gutter;
    }
  }

  @include car;
}