@import './mixins';

.vw__card-model {
  background: white;
  padding-bottom: 10px;
  border-radius: 5px;

  @include bp(desktop) {
    padding-bottom: 14px;
  }

  &.active, &:hover {
    border: 3px solid $blue1;

    @include bp(tablet) {
      border-width: 4px;
    }
  }

  span {
    // label1
    padding-top: 4px;

    @include bp(tablet) {
      padding-top: 6px;
    }
  }
}