@import './card';

.vw__card-list {
  position: relative;
  margin: 10px;
  min-height: 346px;
  display: flex;

  background: lightblue;
  border: 1px solid;

  @include bp(desktop) {
    min-height: 316px;
  }

  .content {
    padding: 20px;
    // padding: .75 * $gutter;

    @include bp(desktop) {
      // padding: $gutter;
    }

    @include bp(wide) {
      // padding: .75 * $gutter;
    }
  }

  .car-basic {
    @include car;
    @include car-flex;
    margin-right: 4px;

    .content {
      flex-direction: column;
    }
  }

  .car-detail {
    @include car-flex;
    flex: 1;

    span, a {
      display: block;
    }

    .car-stats {
      padding-bottom: 20px;
    }

    ul {
      padding: 10px 0 20px;

      li {
        padding-left: 20px;
      }
    }
  }
}