@import 'mixins';

.vw__filter-sidebar {
    min-width: 23%;

    .filter-header {
        @include bp(desktop) {
            display: none;
        }

        .flex-container {
            justify-content: space-between;
        }
    }

    .filter-section {
        header {
            cursor: pointer;
        }

        .flex-container {
            justify-content: space-between;
        }

        label {
            display: block;
        }

        .filtered-choices {
            @include bp(desktop) {
                display: none;
            }
        }
    }
}
