@import 'mixins';

.vw__header-masthead {
  border: 1px solid;
  background: white;

  &.is-sticky {
    .container {
      padding: 20px 0 20px;
    }

    .vw__filter-button-container {
      display: block;

      @include bp(wide) {
        display: none;
      }
    }
  }

  .top-bar {
    background: $blue1;
    height: 8px;
  }

  .masthead-container {
    padding: 30px 0 20px;

    @include bp(tablet) {
      padding: ($gutter * 2) 0 (-$gutter * 2);
    }

    @include bp(xl) {
      padding: $gutter-xl 0 $gutter-xl;
    }
  }

  .grid-container {
    justify-content: space-between;
  }

  .headline {
    margin-bottom: 15px;

    @include bp(tablet) {
      margin-bottom: $gutter;
    }

    @include bp(xl) {
      margin-bottom: $gutter-xl / 2;
    }
  }

  .actions-content {
    display: flex;
    align-items: center;
    margin: 15px -5px 0;

    > div {
      margin: 0 5px;
    }

    @include bp(tablet) {
      margin: 0 (-$gutter / 2);

      > div {
        margin: 0 ($gutter / 2);
      }
    }
  }

  .vw__zip-input-container {
    order: 0;

    @include bp(tablet) {
      order: 1;
    }

    .vw__zip-input {
      max-width: 110px;

      input {
        max-width: 100%;
      }
    }
  }

  .vw__model-dropdown-container {
    order: 1;

    @include bp(tablet) {
      display: none;
    }
  }

  .vw__filter-button-container {
    order: 2;

    @include bp(tablet) {
      order: 0;
      display: none;
    }
  }

  .vw__to-top-container {
    order: 4;
    display: none;

    @include bp(desktop) {
      display: initial;
    }
  }
}
