@import 'mixins';

.vw__models-container {
  margin: 20px 0;

  @include bp(tablet) {
    margin: $gutter 0;
  }

  section {
    margin-top: 20px;
    margin-bottom: -13px;

    @include bp(tablet) {
      margin-top: $gutter;
      margin-bottom: -$gutter / 2;
    }
  }

  .grid-container {
    .grid-item {
      border: 1px solid;
    }
  }

  .model-type, .grid-item {
    margin-bottom: 13px;

    @include bp(tablet) {
      margin-bottom: $gutter / 2;
    }
  }
}
