@import './mixins';

.vw__car-results-container {
  background: $bluegray95;
  padding-top: 20px;

  @include bp(tablet) {
    padding-top: 0;
  }

  @include bp(wide) {
    display: flex;
  }
}

.vw__filter-list {
  display: none;
  margin-bottom: -8px;

  @include bp(xl) {
    display: block;
  }
}
