@import 'mixins';

.vw__results-container {
  background: $bluegray95;
}

.vw__car-results-container {
  padding: 20px 0;

  @include bp(tablet) {
    padding-top: 0;
  }

  @include bp(wide) {
    display: flex;
  }

  .grid-item {
    @include bp(desktop) {
      flex: 0 0 31%;
    }
  }
}

.vw__filter-list {
  display: none;
  margin-bottom: -8px;

  @include bp(xl) {
    display: block;
  }
}
