@import 'src/mixins';

.item {
  @include label-3;
  transition: 230ms ease-in;
  color: $color-bluegray80;
  border: 1px solid $color-bluegray80;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  .vw__icon {
    margin-left: 10px;

    svg {
      fill: $color-blue1;
    }
  }

  &.btn-clear {
    color: $color-bluegray50;
  }

  &:hover {
    border-color: $color-blue1;

    .vw__icon svg {
      fill: $color-blue1;
    }
  }

  &:active {
    border: 2px solid $color-blue1;
  }
}
