@import 'src/mixins';

.vw__filter-list-item {
  @include label-3;

  background: none;
  color: $color-bluegray50;
  border: 1px solid $color-bluegray80;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 230ms ease-in;

  .vw__icon {
    margin-left: 10px;

    svg {
      width: 10px;
      height: 10px;

      .svg {
        stroke: $color-blue1;
      }
    }
  }

  &:hover {
    border-color: $color-blue1;

    .vw__icon svg .svg {
      stroke: $color-blue1;
    }
  }

  &:active {
    border: 2px solid $color-blue1;
  }
}
