.navigation {
  display: none;

  @include bp(tablet) {
    display: block;
    width: 95px;
    top: 0;
    position: fixed;
    height: 100%;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.15);
  }
}

.main-content {
  @include bp(tablet) {
    margin-left: 95px;
  }
}

.container {
  // border: 1px solid;
}