@import 'src/mixins';

.vw__filter-header {
  padding: 0 16px;
  background: white;

  @include bp(wide) {
    display: none;
  }

  button {
    @include title-3;
    background: none;
    border: none;
    text-transform: uppercase;
    color: $color-bluegray50;
  }

  .grid-container {
    justify-content: space-between;
    height: 64px;
  }

  .left-container,
  .middle-container,
  .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vw__icon {
    margin-right: 8px;

    svg {
      width: 18px;
    }
  }
}
