@import 'src/mixins';

.vw__filter-header {
  padding: 0 16px;
  background: white;

  @include bp(wide) {
    display: none;
  }

  button {
    @include title-3;
    appearance: none;
    border: none;
    text-transform: uppercase;
    color: $color-bluegray50;
  }

  .grid-container {
    align-items: center;
    justify-content: space-between;
    height: 64px;
  }
}