@import 'src/mixins';

.vw__results-view-types {
  // display: none;

  @include bp(desktop) {
    display: block;
    min-width: 110px;
    text-align: right;
  }
}

.vw__btn-view-type {
  background: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px dashed rgba(#FF00D5, .1);
  width: 40px;
  height: 32px;
  border-radius: 5px;
  margin-left: 6px;
  color: $color-bluegray80;

  @include bp(desktop) {
    width: 46px;
    height: 38px;
    margin-left: 8px;
  }

  .vw__icon {
    width: 21px;
    height: 16px;

    @include bp(desktop) {
      width: 26px;
      height: 20px;
    }

    svg {
      fill: $color-bluegray80;
    }
  }

  &.selected {
    border: 1px solid $color-bluegray80;
    color: $color-blue1;

    .vw__icon svg {
      fill: $color-blue1;
    }
  }

  &:hover:not(.selected) {
    border: 1px solid $color-bluegray80;
  }

  &:active:not(.selected) {
    border: 1px solid $color-bluegray80;
    color: $color-blue1;

    .vw__icon svg {
      fill: $color-blue1;
    }
  }
}
